<<<<<<< HEAD
<!-- Stage- Bootstrap one page Event ticket booking theme
Created by pixpalette.com - online design magazine -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags must come first in the head; any other head content must come after these tags -->
    <title>Jesus na Rua</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>

      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://i.pinimg.com/736x/86/1e/89/861e8933d9ce7b23cceea51fa8624a2f--fango-god-loves-you.jpg"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
</head>

<body>

    <div class="loader">

        <div>
            <img src="images/icons/preloader.gif" />
        </div>
    </div>
    <div id="map"></div>
    <div class="container-fluid" id='app'>
        <div class="row">
            <div class="col-sm-5 left-wrapper">
                <div id="slides" class="event-banner-wrapper">
                    <div class="logo">
                        <h1>{{app.name}}</h1>
                    </div>

                    <h2>
                        {{slide.current.title}}
                        <span>{{slide.current.date}}</span>
                    </h2>
                    <!--p>created by
                        <a href="http://www.pixpalette.com" target="_blank">pixpalette</a>
                    </p-->
                </div>
            </div>
            <div class="col-sm-7 right-wrapper">
                <div class="event-ticket-wrapper">

                    <div class="event-tab">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#noticias" aria-controls="buyTicket" role="tab" data-toggle="tab">Notícias</a>
                            </li>
                            <li role="presentation">
                                <a href="#movimento" aria-controls="venue" role="tab" data-toggle="tab">O Movimento</a>
                            </li>

                            <li role="presentation">
                                <a href="#locais" aria-controls="termCondition" role="tab" data-toggle="tab">Locais</a>
                            </li>

                            <li role="presentation">
                                <a href="#galeria" aria-controls="termCondition" role="tab" data-toggle="tab">Galeria</a>
                            </li>
                            <li role="presentation">
                                <a href="#Liderenca" aria-controls="termCondition" role="tab" data-toggle="tab">Liderença</a>
                            </li>


                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="noticias">

                                <div class="col-md-3" @click="open('notice')">
                                    <div class="ticketBox">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="ticket-name">
                                                    <i class="fas fa-plus fa-4x"></i>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="ticket-description">
                                            <p>
                                                Criar nova notícia
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" v-for="notice in news.list">
                                        <div class="ticketBox" data-ticket-price="50000">
                                            <div class="inactiveStatus"></div>

                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="ticket-name">
                                                        {{notice.title}}
                                                        <span>{{notice.date}} {{notice.time}}</span>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="ticket-description">
                                                <p>
                                                    {{notice.text}}
                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- PROJETO ABOUT -->
                            <div role="tabpanel" class="tab-pane fade" id="movimento">
                                <h4>
                                    Lorem ipsum dolor sit amet, ne accusam scripserit scribentur quo, omnis dolorum eum te. Ius tritani officiis recusabo eu,
                                    graecis vituperatoribus in duo. Vidit epicuri copiosae ex eam, et alienum consulatu vim.
                                    Ei eum ipsum persius, errem vidisse cu cum. Cu percipitur liberavisse per, nam dicunt
                                    blandit honestatis ut. Et dicta electram conclusionemque usu, per augue aeque at. No
                                    vix laoreet nominavi posidonium, ea pri malis ocurreret, exerci postulant mei ne. Per
                                    ut sensibus pericula, in regione feugiat vel, doctus commodo torquatos est ut. Eos populo
                                    possim omnesque cu. Agam convenire ei mel, qui at solum doming equidem. His equidem graecis
                                    ad, tritani eruditi pri ne. Ad graeci impedit dissentias per, ad choro bonorum consectetuer
                                    per, mel id scripta constituam reformidans. Ad vis iracundia scriptorem definitionem,
                                    mundi feugiat has ne, per sale dicunt regione ne. Ad cum commodo liberavisse, utamur
                                    fuisset est cu, te qui debet nominavi scribentur. Mea mundi legere fuisset ea, ex quo
                                    tale purto. Duo postulant petentium cu. Ne diceret voluptaria qui. Ei oblique volumus
                                    prodesset eam. Per eu atomorum dissentiet, labitur mediocrem constituam vix an. Ne mel
                                    semper discere definitionem, ne quem alienum mel. Vim id solet consul probatus. Cum vidisse
                                    expetenda corrumpit eu. Qui ridens vidisse in, accusam evertitur id usu. Vix suscipit
                                    ullamcorper at. Tibique deseruisse vix eu, essent meliore nominavi an vel, vim prompta
                                    laboramus prodesset ad.
                                </h4>
                            </div>

                            <!--LOCAIS -->
                            <div role="tabpanel" class="tab-pane fade" id="locais">
                                <div class="col-md-12" v-for="notice in news.list">
                                    <div class="ticketBox" data-ticket-price="50000">
                                        <div class="inactiveStatus"></div>

                                        <div class="row">
                                            <div class="col-xs-6">
                                                <img src="https://i.pinimg.com/736x/86/1e/89/861e8933d9ce7b23cceea51fa8624a2f--fango-god-loves-you.jpg" width="100" class="rounded float-right"
                                                    alt="...">
                                                <div class="ticket-name">
                                                    {{notice.title}}
                                                    <span>{{notice.date}} {{notice.time}}</span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="ticket-description">
                                            <p>
                                                {{notice.text}}
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- GALERIAS -->
                            <div role="tabpanel" class="tab-pane fade" id="galerias">
                                <div class="col-md-12" v-for="notice in news.list">
                                    <div class="ticketBox" data-ticket-price="50000">
                                        <div class="inactiveStatus"></div>

                                        <div class="row">
                                            <div class="col-xs-6">
                                                <img src="https://i.pinimg.com/736x/86/1e/89/861e8933d9ce7b23cceea51fa8624a2f--fango-god-loves-you.jpg" width="100" class="rounded float-right"
                                                    alt="...">
                                                <div class="ticket-name">
                                                    {{notice.title}}
                                                    <span>{{notice.date}} {{notice.time}}</span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="ticket-description">
                                            <p>
                                                {{notice.text}}
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--LIDERANÇA -->
                        <div role="tabpanel" class="tab-pane fade" id="lideranca">
                            <div class="col-md-12" v-for="notice in news.list">
                                <div class="ticketBox" data-ticket-price="50000">
                                    <div class="inactiveStatus"></div>

                                    <div class="row">
                                        <div class="col-xs-6">
                                            <img src="https://i.pinimg.com/736x/86/1e/89/861e8933d9ce7b23cceea51fa8624a2f--fango-god-loves-you.jpg" width="100" class="rounded float-right"
                                                alt="...">
                                            <div class="ticket-name">
                                                {{notice.title}}
                                                <span>{{notice.date}} {{notice.time}}</span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="ticket-description">
                                        <p>
                                            {{notice.text}}
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cart">
                        <div class="row">
                            <div class="col-xs-6">

                            </div>
                            <div class="col-xs-6">
                                <div class="text-right">
                                    <a class="btn" data-toggle="modal" data-target="#contate-nos">
                                        <i class="fas fa-envelope-open"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal Login -->
        <div class="modal right fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{modal.title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Name
                        <input type="text" class="form-control" v-model="app.login.name"> Password
                        <input type="password" class="form-control" v-model="app.login.pass">
                    </div>
                    <div class="modal-footer">
                        <button type="button" @click="login()" class="btn btn-primary">Salvar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal notice -->
        <div class="modal right fade" id="modal-notice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{modal.title}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Titulo
                            <input type="text" class="form-control">
                            Conteúdo
                            <textarea type="password" class="form-control"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" @click="login()" class="btn btn-primary">Salvar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>

    </div>

    <!-- Modal -->
    <div class="modal right fade" id="contate-nos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Share your contact Details</h4>
                </div>-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="images/icons/cancel.png">
                    </button>
                    <h4 class="modal-title">Deixe uma mensagem</h4>
                </div>
                <div class="modal-body">
                    <div class="contactForm">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Seu nome" name='nome'>
                            </div>

                            <div class="form-group">
                                <input type="text" name='email' class="form-control" placeholder="Email">
                            </div>

                            <div class="form-group">
                                <textarea name='messagem' class="form-control" placeholder="Mensagem" rows="10"></textarea>
                            </div>

                            <a type="submit" class="btn">Enviar Mensagem</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- acesso para o mapa-->
    <div id="map"></div>
        <script>
          var map;

        </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXLhn8IOmFs9iL06xOIsYjHd3aZh_CSCQ&callback=app.map"
        async defer></script>3


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/allscript.js"></script>
    <script src="js/vue-app.js"></script>
    <script src="js/commands.js"></script>
    <script src="js/cpc.js"></script>
</body>

</html>
=======
<!-- Stage- Bootstrap one page Event ticket booking theme
Created by pixpalette.com - online design magazine -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Jesus na Rua</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwLCN_cncG66VqpdOYd2xsNVRDphZSE4s"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
</head>

<body>

    <div class="loader">
        <div>
            <img src="images/icons/preloader.gif" />
        </div>
    </div>


    <div class="container-fluid" id='app'>
        <div class="row">
            <div class="col-sm-5 left-wrapper">
                <!-- MAPS -->
                <div>
                    <div class="col-sm-12 col-md-12">
                        <div id="map"></div>
                    </div>
                </div>


                <div v-if="!locais.isMapped" id="slides" class="event-banner-wrapper">
                    <div class="logo">
                        <h1>{{app.name}}</h1>
                    </div>

                    <h2>
                        {{slide.current.title}}
                        <span>{{slide.current.date}}</span>
                    </h2>
                    <!--p>created by
                        <a href="http://www.pixpalette.com" target="_blank">pixpalette</a>
                    </p-->
                </div>
            </div>
            <div class="col-sm-7 right-wrapper">
                <div class="event-ticket-wrapper">

                    <div class="event-tab">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#noticias" aria-controls="buyTicket" role="tab" data-toggle="tab">Notícias</a>
                            </li>
                            <li role="presentation">
                                <a href="#movimento" aria-controls="venue" role="tab" data-toggle="tab">O Movimento</a>
                            </li>

                            <li role="presentation">
                                <a href="#locais" aria-controls="termCondition" role="tab" data-toggle="tab">Locais</a>
                            </li>

                            <li role="presentation">
                                <a href="#galerias" aria-controls="galerias" role="tab" data-toggle="tab">Galeria</a>
                            </li>
                            <li role="presentation">
                                <a href="#lideranca" aria-controls="lideranca" role="tab" data-toggle="tab">Liderença</a>
                            </li>


                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- NOTICE -->
                            <div role="tabpanel" class="tab-pane fade in active" id="noticias">

                                <!-- BTN -->
                                <div class="col-md-12" v-if='app.login.isLogged' @click="open('notice')">
                                    <div class="ticketBox hover">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="ticket-name">
                                                    <i class="fas fa-plus"></i> Criar nova notícia
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- INFORMATION PUBLIC -->
                                <div class="row">
                                    <div class="col-md-6" v-for="notice in news.list">
                                        <div class="ticketBox" data-ticket-price="50000">
                                            <div class="inactiveStatus"></div>

                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="ticket-name">
                                                        {{notice.title}}
                                                        <i class="green fas fa-edit" @click='editNotice(notice)'></i>
                                                        <span>{{notice.date}} {{notice.time}}</span>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="ticket-description text-justify">
                                                <p>
                                                    {{notice.text}}
                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- PROJETO ABOUT -->
                            <div role="tabpanel" class="tab-pane fade text-justify" id="movimento">
                                <div class="col-md-12" v-if='app.login.isLogged' @click="open('movimento')">
                                    <div class="ticketBox hover">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="ticket-name">
                                                    <i class="fas fa-edit"></i> Editar conteúdo
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h4>
                                    Lorem ipsum dolor sit amet, ne accusam scripserit scribentur quo, omnis dolorum eum te. Ius tritani officiis recusabo eu,
                                    graecis vituperatoribus in duo. Vidit epicuri copiosae ex eam, et alienum consulatu vim.
                                    Ei eum ipsum persius, errem vidisse cu cum. Cu percipitur liberavisse per, nam dicunt
                                    blandit honestatis ut. Et dicta electram conclusionemque usu, per augue aeque at. No
                                    vix laoreet nominavi posidonium, ea pri malis ocurreret, exerci postulant mei ne. Per
                                    ut sensibus pericula, in regione feugiat vel, doctus commodo torquatos est ut. Eos populo
                                    possim omnesque cu. Agam convenire ei mel, qui at solum doming equidem. His equidem graecis
                                    ad, tritani eruditi pri ne. Ad graeci impedit dissentias per, ad choro bonorum consectetuer
                                    per, mel id scripta constituam reformidans. Ad vis iracundia scriptorem definitionem,
                                    mundi feugiat has ne, per sale dicunt regione ne. Ad cum commodo liberavisse, utamur
                                    fuisset est cu, te qui debet nominavi scribentur. Mea mundi legere fuisset ea, ex quo
                                    tale purto. Duo postulant petentium cu. Ne diceret voluptaria qui. Ei oblique volumus
                                    prodesset eam. Per eu atomorum dissentiet, labitur mediocrem constituam vix an. Ne mel
                                    semper discere definitionem, ne quem alienum mel. Vim id solet consul probatus. Cum vidisse
                                    expetenda corrumpit eu. Qui ridens vidisse in, accusam evertitur id usu. Vix suscipit
                                    ullamcorper at. Tibique deseruisse vix eu, essent meliore nominavi an vel, vim prompta
                                    laboramus prodesset ad.
                                </h4>
                            </div>

                            <!--LOCAIS -->
                            <div role="tabpanel" class="tab-pane fade" id="locais">
                                <div class="col-md-12" v-if='app.login.isLogged' @click="open('movimento')">
                                    <div class="ticketBox hover">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="ticket-name">
                                                    <i class="fas fa-plus"></i> Adicionar novo local
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" v-for="local in locais.list">
                                    <div class="ticketBox hover" @click="maps(local)" data-ticket-price="50000">
                                        <div class="inactiveStatus"></div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <img src="https://developers.google.com/maps/images/lhimages/devices/3x1_runtastic.png?hl=pt-br" width="100" alt="">
                                            </div>
                                            <div class="col-md-8 ">
                                                <div class="ticket-name">
 {{local.name}}
<i class="green fas fa-edit" @click='editNotice(notice)'></i>
                                                    <span>{{local.endereco}} - Toda {{local.dia}} às {{local.hora}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- GALERIAS -->
                            <div role="tabpanel" class="tab-pane fade" id="galerias">
                                <div class="col-md-12" v-if='app.login.isLogged' @click="open('movimento')">
                                    <div class="ticketBox hover">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="ticket-name">
                                                    <i class="fas fa-edit"></i> Adicionar nova imagem
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" v-for="notice in news.list">
                                    <div class="ticketBox" data-ticket-price="50000">
                                        <div class="inactiveStatus"></div>

                                        <div class="row">
                                            <div class="col-xs-6">
                                                <img src="https://i.pinimg.com/736x/86/1e/89/861e8933d9ce7b23cceea51fa8624a2f--fango-god-loves-you.jpg" width="100" class="rounded float-right"
                                                    alt="..."> <i class="green fas fa-edit" @click='editNotice(notice)'></i>
                                                <div class="ticket-name">
                                                    {{notice.title}}
                                                    <span>{{notice.date}} {{notice.time}}</span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="ticket-description">
                                            <p>
                                                {{notice.text}}
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--LIDERANÇA -->
                            <div role="tabpanel" class="tab-pane fade" id="lideranca">
                                <div class="col-md-12" v-if='app.login.isLogged' @click="open('movimento')">
                                    <div class="ticketBox hover">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="ticket-name">
                                                    <i class="fas fa-edit"></i> Adicionar Liderança
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" v-for="lider in lideranca.list">
                                    <div class="ticketBox hover" data-ticket-price="50000">
                                        <div class="inactiveStatus"></div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <img src="https://developers.google.com/maps/images/lhimages/devices/3x1_runtastic.png?hl=pt-br" width="100" alt="">
                                            </div>
                                            <div class="col-md-8 ">
                                                <div class="ticket-name">
 {{lider.name}}
<i class="green fas fa-edit" @click='editNotice(notice)'></i>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ENVELOPE -->

                    <div class="cart">
                        <div class="row">
                            <div class="col-xs-6">

                            </div>
                            <div class="col-xs-6">
                                <div class="text-right">
                                    <a class="btn" data-toggle="modal" data-target="#contate-nos">
                                        <i class="fas fa-envelope-open"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal Login -->
        <div class="modal right fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{modal.title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Name
                        <input type="text" class="form-control" v-model="app.login.name"> Password
                        <input type="password" class="form-control" v-model="app.login.pass">
                    </div>
                    <div class="modal-footer">
                        <button type="button" @click="login()" class="btn btn-success">Entrar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal new notice -->
        <div class="modal right fade" id="modal-notice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{modal.title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Titulo
                        <input type="text" class="form-control" v-model='news.newNotice.title'> Conteúdo
                        <textarea type="password" class="form-control" v-model='news.newNotice.text'></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" @click="createNotice()" class="btn btn-primary">Salvar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal edit notice -->
        <div class="modal right fade" id="modal-edit-notice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{modal.title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Titulo
                        <input type="text" class="form-control" v-bind:value="modal.notice.title"> Conteúdo
                        <textarea type="password" class="form-control" v-bind:value="modal.notice.text"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" @click="createNotice()" class="btn btn-primary">Salvar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal movimento -->
        <div class="modal right fade" id="modal-movimento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{modal.title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Conteúdo
                        <textarea type="password" class="form-control" v-model='news.newNotice.text' rows="15"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" @click="s()" class="btn btn-primary">Salvar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- END APP VUE -->
    </div>





    <!-- Modal -->
    <div class="modal right fade" id="contate-nos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Share your contact Details</h4>
                </div>-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="images/icons/cancel.png">
                    </button>
                    <h4 class="modal-title">Deixe uma mensagem</h4>
                </div>
                <div class="modal-body">
                    <div class="contactForm">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Seu nome" name='nome'>
                            </div>

                            <div class="form-group">
                                <input type="text" name='email' class="form-control" placeholder="Email">
                            </div>

                            <div class="form-group">
                                <textarea name='messagem' class="form-control" placeholder="Mensagem" rows="10"></textarea>
                            </div>

                            <a type="submit" class="btn">Enviar Mensagem</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwLCN_cncG66VqpdOYd2xsNVRDphZSE4s"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/allscript.js"></script>
    <script src="js/vue-app.js"></script>
    <script src="js/commands.js"></script>
    <script src="js/cpc.js"></script>

</body>

</html>
>>>>>>> d6a07dc4767428832c9d11d92621863c5eec91d0
